.box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 400px;
  transition: .5s;
  z-index: 999999;


  &:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border-top: 20px solid #f9f9f3;
    border-left: 20px solid #f9f9f3;
    box-sizing: border-box;

    @media only screen and (max-width:500px){
      display:none;
    }
  }

 &:after{
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: transparent;
   border-bottom: 20px solid #f9f9f3;
   border-right: 20px solid #f9f9f3;
   box-sizing: border-box;
   z-index: -111111;
   @media only screen and (max-width:500px){
     display:none;
   }
 }
}

.super-wrapper{
  @include flex-center;
  align-items:start;
  flex-direction:column;
  width: 100%;
  height: 100%;
  padding-top:70px;

  p{
    font-size: 1.2rem;
  }
}
.text {
  position: absolute;
  top: 35px;
  left: -30px;
  background: $color-intro-black;
  background-image: url("../images/dots.png");
  background-repeat: repeat;
  background-size: 0.5%;
  width: calc(100% + 60px);
  height: calc(100% - 60px);
  transition: .5s;

  @media only screen and (max-width:500px){
    left:0;
    width: 100%;

  }

  &-slider{
    display: none;
    color: white;
    @include flex-center;
  }

  &-wrapper{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    padding: 40px 60px;
    box-sizing: border-box;
    display: none;

    &-active{
      display: block!important;
    }

    h1{
      margin: 0 45px 20px;
      padding: 0;
      color: white;
      text-transform: uppercase;
      letter-spacing: 3px;

    }
    h2{
      margin: 0 45px 5px;
      padding: 0;
      color: white;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-weight: 200;
      font-size: 1rem;
      i{
        margin-right: 15px;
      }
    }
    p{
      margin: 0 45px 20px;
      padding: 0;
      color: white;
    }
  }
}


@keyframes appU{
  from{
    opacity:0;
    top: 35px
  }
  to{
    opacity:1;
    top: 30px
  }
}
.tutorial-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}
.Tutorial__slide{
  display: none;
}

.Tutorial__slide-active{
  display: flex!important;
  justify-content: center;
  align-content: center;
  margin-top: 5px;

  P{
    margin: 0;
    color: white;
  }
}

.tutorialIMG {
  width: 250px;
  height: 150px;
}


#welcometitle{
  text-align:center!important;
}
#welcome{
display: none;
justify-content: center!important;
flex-direction: column!important;
align-items: center!important;
padding-top: 90px!important;
}

#btnwelcome{
  display: flex!important;
  justify-content: center!important;
  align-items: center!important;
  padding: 0 !important;
margin: 0;
}

#welcomepa {
  text-align:center!important;
}
#sliderControl{
  position: absolute;
bottom: 15%;
left: 16%;
}
