.options-container {
  width: 900px;
  min-height: 100vh;

  display: flex;
  @include flex-center;
  align-self: center;
  justify-self:center;
}

.logout_container{
  @include flex-center;
}

.login {
  display:flex;
  flex-direction: column;
  align-items: center;

  &__mail{
    display:flex;
    flex-direction: column;
    align-items: center;

    a {
        &:not(:last-child) {
          margin-bottom: $margin-small;
        }
    }

    P{
      font-family: 'noto_sansregular';
    }
  }

  &__social {
    display:flex;
    flex-direction: column;
    align-items: center;

  }
}

.border {
  height: 1px;
  width: 90%;
  background: $color-primary-black;
  margin: 15px;
}
