body{
  font-family: 'HelveticaRegular';
  font-weight: 300;
  line-height: 1.7;
}

@font-face {
    font-family: 'HelveticaBold';
    src: url('../../fonts/HelveticaBold.eot') format('eot'),
         url('../../fonts/HelveticaBold.ttf') format('ttf'),
         url('../../fonts/HelveticaBold.woff') format('woff');
    font-weight: 500;
    font-style: Bold;
}

@font-face {
    font-family: 'HelveticaItalic';
    src: url('../../fonts/HelveticaItalic.eot') format('eot'),
         url('../../fonts/HelveticaItalic.ttf') format('ttf'),
         url('../../fonts/HelveticaItalic.woff') format('woff');
    font-style: Italic;
}

@font-face {
    font-family: 'HelveticaRegular';
    src: url('../../fonts/HelveticaRegular.eot') format('eot'),
         url('../../fonts/HelveticaRegular.ttf') format('ttf'),
         url('../../fonts/HelveticaRegular.woff') format('woff');
    font-weight: 300;
    font-style: Normal;
}

@font-face {
    font-family: 'HelveticaMedium';
    src: url('../../fonts/HelveticaMedium.eot') format('eot'),
         url('../../fonts/HelveticaMedium.ttf') format('ttf'),
         url('../../fonts/HelveticaMedium.woff') format('woff');
    font-weight: 400;
    font-style: Medium;
}

@font-face {
    font-family: 'HelveticaThin';
    src: url('../../fonts/HelveticaThin.eot') format('eot'),
         url('../../fonts/HelveticaThin.ttf') format('ttf'),
         url('../../fonts/HelveticaThin.woff') format('woff');
    font-style: Italic;
    font-weight: 200;
}



@font-face {
    font-family: 'noto_sansblack';
    src: url('../fonts/notosans-black-webfont.woff2') format('woff2'),
         url('../fonts/notosans-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'noto_sansbold';
    src: url('../fonts/notosans-bold-webfont.woff2') format('woff2'),
         url('../fonts/notosans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'noto_sanscondensed';
    src: url('../fonts/notosans-condensed-webfont.woff2') format('woff2'),
         url('../fonts/notosans-condensed-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'noto_sansitalic';
    src: url('../fonts/notosans-italic-webfont.woff2') format('woff2'),
         url('../fonts/notosans-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'noto_sanslight';
    src: url('../fonts/notosans-light-webfont.woff2') format('woff2'),
         url('../fonts/notosans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'noto_sansmedium';
    src: url('../fonts/notosans-medium-webfont.woff2') format('woff2'),
         url('../fonts/notosans-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'noto_sansregular';
    src: url('../fonts/notosans-regular-webfont.woff2') format('woff2'),
         url('../fonts/notosans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'noto_sanssemibold';
    src: url('../fonts/notosans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/notosans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'noto_sansthin';
    src: url('../fonts/notosans-thin-webfont.woff2') format('woff2'),
         url('../fonts/notosans-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
