.Error__container{
  width: 960px;
  display: flex;
  justify-self:center;

  @include flex-center;

  h1{
    width: 300px;
    margin: 15px;
    text-align: center;
    text-transform: uppercase;
    color: $color-intro-black;
    font-family: 'Montserrat', sans-serif;
  }
}

.Error__container-items{
  position: relative;
  width: 40%;
  height: 300px;

  &--item{
    position: absolute;
    border-radius: 50%;
    transition: all .5s;

    &--1{
      top: 20%;
      left: 30%;
      background: $color-intro-black;
      width: 10px;
      height: 10px;
    }
    &--2{
      top: 50%;
      left: 10%;
      border: 1px solid $color-intro-black;
      background: none;
      width: 12px;
      height: 12px;
    }
    &--3{
      top: 50%;
      left: 50%;
      background: $color-intro-black;
      width: 15px;
      height: 15px;
    }
    &--4{
      top: 20%;
      left: 60%;
      background: $color-intro-black;
      width: 20px;
      height: 20px;
    }
    &--5{
      top: 30%;
      left: 80%;
      background: $color-intro-black;
      width: 5px;
      height: 5px;
    }
    &--6{
      top: 70%;
      left: 30%;
      background: $color-intro-black;
      width: 8px;
      height: 8px;
    }
    &--7{
      top: 20%;
      left: 80%;
      background: $color-intro-black;
      width: 15px;
      height: 15px;
    }
    &--8{
      top: 80%;
      left: 30%;
      background: $color-intro-black;
      width: 20px;
      height: 20px;
    }
    &--9{
      top: 75%;
      left: 70%;
      background: $color-intro-black;
      width: 5px;
      height: 5px;
    }
    &--10{
      top: 50%;
      left: 70%;
      background: $color-intro-black;
      width: 12px;
      height: 12px;
    }
  }
}

.err_back{
  @include link;
  color: $color-intro-black;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}
