.about__container{
  max-width: 500px!important;
  max-height: 350px !important;

  @media only screen and (max-width: 900px) {
    width: 90vw!important;
  }

  p{
    font-family: 'Montserrat', sans-serif;
    color: $color-intro-black;
    font-size: 1.7rem;
    margin-bottom: 5px;
  }

  ul{
    margin-top: 15px;
    margin-bottom: 15px;

    li{
      margin-left: 7px;
      cursor:default;
      list-style-type: tamil!important;
      font-family: 'Montserrat', sans-serif;
      color: $color-intro-black;
      font-size: 1.7rem;
    }
  }
}
