
// 1. SCORE
.Score{
  font-family: consolas;
  color: $color-white;
  letter-spacing: $letter-spacing-small;
  padding: 15px;
}

.menu{

  position: relative;


  p{
    color: $color-white;
  }
}

.line2{
  background: $color-black;
  width: 100px;
  height: 1px;
  transform: translateX(-60%);
}

.circle{
  display: flex;
  justify-content: center;
  position: relative;
  cursor: pointer;
  transition: all 2s ease;

  &--inner{
    position: absolute;
    background: $color-black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: all 1s;

    &:hover{
      width: 60px;
      height: 60px;
    }
  }

  &--outer{
    position: absolute;
    width: 70px;
    height: 70px;
    border: 1px solid $color-black;
    border-radius: 50%;
    opacity: .4;
    transition: all 1s;

  }

  p{
    align-self: center;
    justify-self: center;
    position: absolute;
    color: $color-white;
  }
}

// 5.DUMBCODE
.dumbcode{
  padding: 15px;
  font-family: consolas;
  color: $color-white;

}
