
.messages{
  width: 500px;
  height: 100%;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  align-content: end;
  justify-content: center;
}
.messages-preview{
  background: $color-intro-black;
  border-radius: 3px;
  min-width: 200px;
  max-width: 350px;
  min-height: 50px;
  max-height: auto;
  padding: 10px;
  z-index: 99999999999999999999999999999999999999999999;
  cursor: pointer;
  margin: 15px;

  &__el{
    background: $color-intro-black;
    width: 20px;
    height: 20px;
    position: absolute;
    right: -6px;
    transform: rotate(45deg);
    top: 15px;
    z-index: 1;
  }

  &__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    &-close{
      position: absolute;
      color: white;
      cursor: pointer;
      right: 5px;
      top: 5px;
      z-index: 9999999999999;

        @media only screen and (max-width:900px){
          left: 17%;
        }
    }

    &-name{
      font-family: 'Montserrat', sans-serif;
      color: white;
    }

    &-img{
      background: $color-white-2;
      transform: rotate(45deg);
      width: 30px;
      height: 30px;
      margin: 25px;
    }
    &-text{
      font-family: 'Montserrat', sans-serif;
      color: white;
    }
  }
}

.messages-dropdown{
  position: relative;
  width: 200px;
  max-height: 450px;
  background: $color-intro-black;
  border-radius: 3px;
  float: right;
  padding: 15px;
  margin-top:10px;
  overflow-y:scroll;
  overflow-x:hidden;

  &-el{
    position: absolute;
    right: 2.5px;
    top: -8px;
    background: $color-intro-black;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
  }

  &-title{
    color: white;
    margin-bottom: 15px;
  }

  &-item{
    background: white;
    border-radius: 3px;
    width: 100%;
    min-height: 50px;
    margin-bottom: 15px;

    &-text{
      @include flex-center;
      &-name{
        font-weight: 500;
        margin-bottom: 5px;
      }
      &-preview{

      }
    }
  }


}
